@use "scss/colors";
@use "scss/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-xl;
}

.checkIcon {
  color: colors.$dark-blue-100;
}

.detailTextContainer {
  min-width: fit-content;
  color: colors.$dark-blue;
}

.detailsContainer {
  overflow: visible;
}
